<div class="content">
  <div class="title">
    Jacob O'Donnell Consulting, Inc.
  </div>
  <div class="link">
    <a href="mailto:jacobodonnell@gmail.com">jacobodonnell@gmail.com</a>
  </div>
  <div class="link">
    <a href="http://www.github.com/jodonnell">Github</a>
  </div>
  <div class="link">
    <a href="http://www.shelfari.com/jodonnell/shelf">Book shelf</a>
  </div>
  
</div>

<video autoplay loop poster="<%= image_path "code.jpg" %>" id="bgvid">
  <source src="coding.mp4" type="video/mp4" />
</video>
