
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Ymacs -- An Emacs-like editor for the Web</title>
  </head>
  <body>
    <div class="content">
      <div class="title">
        Jacob O'Donnell Consulting
      </div>
      <div class="link">
        <a href="mailto: jacobodonnell@gmail.com">jacobodonnell@gmail.com</a>
      </div>
      <div class="link">
        <a href="http://www.github.com">Github</a>
      </div>
    </div>

    <video autoplay loop poster="code.jpg" id="bgvid">
      <source src="testmovie2.mp4" type="video/mp4" />
    </video>
  </body>
</html>
