
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Ymacs -- An Emacs-like editor for the Web</title>
  </head>
  <body>
    <center style="margin-top: 10em" id="x-loading">
      <h1><tt>.oO[ loading ]Oo.</tt></h1>
    </center>
    <script> 
      window.Dynarch_Base_Url = "/dl"; 
      window.YMACS_SRC_PATH = "/ymacs/js/";
    </script>
    <div style="display: none">
      <div id="browser-warning" style="padding: 1em; width: 20em;">
        <b>Note that Ymacs is only tested with Firefox for now.</b><br /><br />
        This is mentioned on the <a href="http://www.ymacs.org/"
        target="_blank">project page</a>,
        but I just thought I'd say it again.
      </div>
    </div>
  </body>
</html>
